<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter your information</title>
    <form action = "/change" method = "POST">
        <p>Enter Hostname:</p>
        <p><input type = "text" name = "new_hostname"></p>
        <p>Enter ip:</p>
        <p><input type = "text" name = "new_ip"></p>
        <p>Enter fqdn::</p>
        <p><input type = "text" name = "new_fqdn"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
</head>
<body>

</body>
</html>

